[submodule ".registry"]
	path = .registry
	url = https://github.com/rave-ieeg/rave-ieeg.r-universe.dev
	branch = HEAD
[submodule "clusterCrit"]
	path = clusterCrit
	url = https://github.com/rave-ieeg/clusterCrit
[submodule "dipsaus"]
	path = dipsaus
	url = https://github.com/dipterix/dipsaus
[submodule "filearray"]
	path = filearray
	url = https://github.com/dipterix/filearray
[submodule "ieegio"]
	path = ieegio
	url = https://github.com/dipterix/ieegio
[submodule "rave"]
	path = rave
	url = https://github.com/beauchamplab/rave
[submodule "ravebuiltins"]
	path = ravebuiltins
	url = https://github.com/beauchamplab/ravebuiltins
	branch = migrate2
[submodule "raveclusters"]
	path = raveclusters
	url = https://github.com/z94007/raveclusters
	branch = rave2.0-pipeline
[submodule "ravecorrelation"]
	path = ravecorrelation
	url = https://github.com/LeoraCramer/ravecorrelation
[submodule "ravedash"]
	path = ravedash
	url = https://github.com/dipterix/ravedash
[submodule "raveio"]
	path = raveio
	url = https://github.com/beauchamplab/raveio
[submodule "ravemanager"]
	path = ravemanager
	url = https://github.com/dipterix/ravemanager
[submodule "ravepipeline"]
	path = ravepipeline
	url = https://github.com/dipterix/ravepipeline
[submodule "ravetools"]
	path = ravetools
	url = https://github.com/dipterix/ravetools
[submodule "readNSx"]
	path = readNSx
	url = https://github.com/dipterix/readNSx
[submodule "rnwb"]
	path = rnwb
	url = https://github.com/dipterix/rnwb
[submodule "rpyANTs"]
	path = rpyANTs
	url = https://github.com/dipterix/rpyANTs
[submodule "rpymat"]
	path = rpymat
	url = https://github.com/dipterix/rpymat
[submodule "rutabaga"]
	path = rutabaga
	url = https://github.com/dipterix/rutabaga
[submodule "shidashi"]
	path = shidashi
	url = https://github.com/dipterix/shidashi
[submodule "threeBrain"]
	path = threeBrain
	url = https://github.com/dipterix/threeBrain
[submodule "visNetwork"]
	path = visNetwork
	url = https://github.com/datastorm-open/visNetwork
	registered = false
